body {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-style: normal;
    background-color: #E9C6CC;
}

.container {
    max-width: 600px;
    margin: 120px auto;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #C60726;
}

.form-wrapper {
    background-color: #F0DDCF;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    padding: 15px 20px;
}

form {
    display: flex;
    gap: 5px;
    align-items: center;
}

.hint {
    line-height: 1.5;
    margin: 10px auto;
    opacity: 0.6;
    font-size: 12px;
}

.instructions-input {
    padding: 16px;
    border: 2px solid rgb(198, 7, 38);
    flex: 1;
    line-height: 1.5;
    color: #C60726;
    border-radius: 10px;
}

.submit-button {
    margin-left: 10px;
    background: #C60726;
    width: 145px;
    border: none;
    padding: 14px 24px;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #a00520;
}

.poem {
    font-size: 16px;
    background-color: #F0B3BA;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #C60726;
    box-shadow: 0px 4px 30px rgb(198, 7, 38);

}

a {
    color: #EA7480;
}

.hidden {
    display: none;
}

footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

.generating {
    animation: blink-animation 1s steps(5, start) infinite
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}